GEMINI_API_KEY=
GEMINI_MODEL=gemini-2.5-flash

VERTEX_PROJECT_ID=
VERTEX_PROJECT_NAME=
VERTEX_LOCATION=us-central1
VEO_MODEL=veo-3.0-generate-001
VEO_PERSON_GENERATION=allow_all
VEO_GENERATE_AUDIO=true

GEMINI_VEO_MODEL=veo-3.1-generate-preview
GEMINI_VEO_PERSON_GENERATION=allow_all
GEMINI_VEO_GENERATE_AUDIO=false
